[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
pytest = "*"
pylint = "*"
autopep8 = "*"
safety = "*"

[packages]
flask = "*"
gitpython = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
